.typeahead-img {
  height: 40px;
  width: 40px;
  float: left;
  padding: 4px;
  overflow: hidden;
}

.typeahead-content {
  overflow: hidden;
  width: auto;
  padding: 5px 2px 5px 5px;
  height: 40px;
  overflow: hidden;
}

.typeahead-name {
	color: #222;
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.typeahead-des {
  font-size: 9px;
  color: #999;
  line-height: 16px;
}

.tt-suggestion:hover .typeahead-des {
  color: #fff;
}

.tt-suggestion:hover .typeahead-name {
  color: #fff;
}

#radio-search .input-group {
  background: #fff;
}

#radio-search-input {
  min-width: 200px;
}

@media(max-width: 767px) {
  #radio-search-input {
    min-width: 0;
  }
}

#nav-login {
  margin-top: 7px;
}

#nav-add {
  margin-top: 7px;
  margin-right: 5px;
}

.close-notification {
  float: right;
  margin-right: -10px;
  cursor: pointer;
}

.btn-search {
  height: 34px;
}
