#nav-login {
  margin-top: 7px;
}

#nav-add {
  margin-top: 7px;
  margin-right: 5px;
}

.close-notification {
  float: right;
  margin-right: -10px;
  cursor: pointer;
}

.radio-item .caption h4 {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

#radio-menu a {
  margin-right: 15px;
} 

#radio-index h2 {
  text-align: center;
}
